* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #224071;
    color: white;
    font-family: Sans-Serif;
    text-align: center;
    padding: 1em;
    height: 100vh;
    overflow: hidden;
  }

  ul {
    display: flex;
    flex-direction: row;
    padding: 1em;
  }

  body, ul {
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    border-bottom: solid;
    padding-bottom: 5px;
    /* color: goldenrod; */
  }

  ul, li {
    padding: 0.5em;
  }

  @media (max-width: 1024px) { /* Adjust breakpoint as needed */
    nav {
      display: none;
    }
  }

  @media (min-width: 1024px) { /* Adjust breakpoint as needed */
    .burger {
      display: none;
    }
    
  }

  .burgerul {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    height: 90vh;
  }

  .burgerul .burgerli {
    font-size: 2em;
    padding-bottom: 1em;
  }
  
  .burgerul:hover .burgerli:hover {
    transform: scale(1.5);
    color: goldenrod;
  }

  @media (min-width: 1024px) {
    .burgerul {
      display: flex;
      flex-direction: column;
      z-index: 999;
    }
  }